
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Daily Profit Report</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
        <script src="{{ url_for('static', filename='exporting.js') }}"></script>


		<script type="text/javascript">
            function display_graphics_for_account_summary (jsonResponse) {
                var summary = jQuery.extend(true, {}, jsonResponse);
                summary.dates.shift();
                var dates = summary.dates;

                var series = [];
                summary.dataset.forEach(function(raw) {
                    var rec = raw.shift();
                    serie = {name: rec.account, data: []};
                    raw.forEach(function(rec) {
                        serie.data.push(rec.profit_in_perc * 100); //*100 - %
                    });
                    series.push(serie)
                });

                $('#container').highcharts({
                    chart: {
                        type: 'line',
                        marginRight: 130,
                        marginBottom: 25
                    },
                    title: {
                        text: 'Daily Profit',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'From FX-Trend, Gamma-IC sites',
                        x: -20
                    },
                    xAxis: {
                        categories: dates
                    },
                    yAxis: {
                        title: {
                            text: 'Profit (%)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: '%'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: 100,
                        borderWidth: 0
                    },
                    series: series
                });
            }


            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            $.getJSON($SCRIPT_ROOT + '/accounts_summary?period=7', {}, function(data) {
                display_graphics_for_account_summary(data);
            });

		</script>
	</head>
	<body>

    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

	</body>
</html>
