<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Daily Profit Report</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1.js') }}"></script>
        <script src="{{ url_for('static', filename='highcharts.js') }}"></script>
        <script src="{{ url_for('static', filename='exporting.js') }}"></script>


		<script type="text/javascript">
            function prepare_for_daily_profit(account_summary_server_data) {
                var summary = jQuery.extend(true, {}, account_summary_server_data);

                summary.dates.shift();
                var dates = summary.dates;

                var series = [];
                var series_dict = {};

                dates.forEach(function(date) {
                    summary.dataset.forEach(function(raw) {
                        var rec = raw.shift();

                        var series_piece_name = rec.pamm;

                        var series_piece = series_dict[series_piece_name];

                        if (series_piece) {
                            series_piece = {name: rec.pamm, data: []};
                            series_dict[series_piece_name] = series_piece;
                            series.push(series_piece);
                        }

                        var exists = false;
                        raw.forEach(function(rec) {
                            if (rec.date == date) {
                                series_piece.data.push(rec.profit_in_perc * 100); //*100 - %
                                exists = true;
                            }
                        });

                        if (!exists)
                            series_piece.data.push(0);

                    });
                });
                return {dates: dates, series: series}
            }

            function draw_daily_profit(daily_profit_prepared_data) {
                $('#daily_profit_container').highcharts({
                    chart: {
                        type: 'line',
                        marginRight: 130,
                        marginBottom: 25
                    },
                    title: {
                        text: 'Daily Profit',
                        x: -20 //center
                    },
                    subtitle: {
                        text: 'From FX-Trend, Gamma-IC sites',
                        x: -20
                    },
                    xAxis: {
                        categories: daily_profit_prepared_data.dates
                    },
                    yAxis: {
                        title: {
                            text: 'Profit (%)'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        valueSuffix: '%'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: 100,
                        borderWidth: 0
                    },
                    series: daily_profit_prepared_data.series
                });
            }

            function prepare_for_deposit_share(account_summary_server_data) {
                var summary = jQuery.extend(true, {}, account_summary_server_data);

                var last_date = summary.dates[summary.dates.length - 1];
                return summary.dataset.reduce(function(resultArray, raw, index, array) {
                    rec = raw[raw.length - 1];
                    if (rec.date == last_date) {
                        resultArray.push([rec.pamm, rec.deposit]);
                    }
                    return resultArray;
                }, []);
            }

            function draw_deposit_share(deposit_share_prepared_data) {
                // Build the chart
                $('#deposit_share_container').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: 'Deposit share by traders'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: false,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true
                            },
                            showInLegend: false
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Browser share',
                        data: deposit_share_prepared_data
                    }]
                });
            }

            function display_graphics_for_account_summary (jsonResponse) {
                draw_daily_profit(prepare_for_daily_profit(jsonResponse));
                draw_deposit_share(prepare_for_deposit_share(jsonResponse));
            }


            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

            $.getJSON($SCRIPT_ROOT + '/accounts_summary?period=7', {}, function(data) {
                display_graphics_for_account_summary(data);
            });

		</script>
	</head>
	<body>
        <div id="daily_profit_container" class="daily_profit_container"></div>
        <div id="deposit_share_container" class="deposit_share_container"></div>
	</body>
</html>
